.burger-menu {
  box-sizing: border-box;
  width: 345px;
  height: 100%;
  background-color: #FFA501;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 50px 40px;

  @media (max-width: 420px) {
    width: 250px;
    padding: 25px 20px 50px 20px;
  }

  .burger-menu__close-button {
    align-self: flex-end;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-bottom: 72px;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .burger-menu__list {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: white;
    list-style-image: url(./Marker.svg);
    list-style-position: inside;
  }

  .burger-menu__link {
    margin-top: 15px;
    position: relative;

    a {
      margin-left: 13px;
      cursor: pointer;
    }

    &::after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover:after {
      width: 100%;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .burger-menu__social-networks {
    margin-top: 285px;
    align-self: center;

    @media (max-width: 640px) {
      margin-top: 125px;
    }
  }
}
