.social-networks {
  position: absolute;
  top: 380px;
  left: -120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: rotate(-90deg);
  align-self: center;

  .social-networks__text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
    font-weight: 700;

    &::after {
      content: '';
      display: block;
      width: 70px;
      height: 0;
      border: 1px solid black;
    }
  }
}
