.social-links {
  display: flex;
  gap: 15px;
  align-items: center;

  .social-links__link {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
